@model IEnumerable<IamUsingIt.Models.Resource>

@{
    ViewBag.Title = "Index";
}

<h2>List of Resources</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Free)
            {
                @Html.Label("Free", new { @class = "label label-success" })
            }
            else
            {
                @Html.Label("In use by: "+item.CurrentUser, new { @class = "label label-danger" })
            }
            
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new {id = item.ResourceId})<text> |</text>
                    @Html.ActionLink("Delete", "Delete", new {id = item.ResourceId})
                }
                if (User.IsInRole("User"))
                {
                    @Html.ActionLink("View Reservations", "Index", "Reservations", new {resourceId = item.ResourceId}, null)<text> |</text>
                    @Html.ActionLink("Make Reservation","Create","Reservations", new {resourceId = item.ResourceId}, null)
                }
}
                
        </td>
    </tr>
}

</table>
